<!-- 
  app.html: El contenedor principal de la aplicación.

  - div class="app-container": Envuelve toda la aplicación y aplica una clase cuando la barra lateral está cerrada 
    para ajustar el diseño del contenido principal.
<!-- 
  app.html: El contenedor principal de la aplicación.

  - div class="app-container": Envuelve toda la aplicación y aplica una clase cuando la barra lateral está cerrada 
    para ajustar el diseño del contenido principal.
  - app-topbar: La barra de navegación superior. Emite un evento (toggleSidebar).
  - app-navbar: La barra de navegación lateral (sidebar). Recibe el estado [isSidebarOpen] para saber si debe mostrarse o no.
  - main class="main-content": El área donde se renderizarán las rutas (tus páginas).
-->
<div class="app-container" [class.sidebar-collapsed]="!isSidebarOpen()" [class.no-layout]="!showLayout">

  <!-- La barra superior emite un evento para abrir/cerrar el menú -->
  @if (showLayout) {
  <app-topbar (toggleSidebar)="toggleSidebar()"></app-topbar>
  }

  <div class="main-layout">
    <!-- La barra lateral recibe el estado para mostrarse u ocultarse -->
    @if (showLayout) {
    <app-navbar [isSidebarOpen]="isSidebarOpen()"></app-navbar>
    }

    <!-- El contenido principal se ajusta según el estado de la barra lateral -->
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>

</div>