:host {
  display: block;
  /* El topbar ocupará el espacio que se le asigne en el layout principal */
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 1.5rem;
  background-color: #6236CB; /* Mismo color que el sidebar */
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.topbar-left, .topbar-right {
  display: flex;
  align-items: center;
  gap: 1.5rem; /* Espacio entre elementos */
}

.menu-toggle-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.topbar-title {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.topbar-icon {
  color: #fff;
  font-size: 1.4rem;
  text-decoration: none;
}

.topbar-icon:hover {
  opacity: 0.8;
}
